{% raw %} {% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}{{ cookiecutter.project_name }}{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ cookiecutter.description }}" />
    <meta name="author" content="{{ cookiecutter.author_name }}" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
    <!-- Include your CSS files here -->
    {% endblock css %} {% block javascript %}
    <!-- Include your JavaScript files here -->
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"
            >{{ cookiecutter.project_name }}</a
          >
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"
                  >Home <span class="visually-hidden">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{% url 'user-detail' request.user.pk %}"
                  >{% translate "My Profile" %}</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user-logout' %}"
                  >{% translate "Sign Out" %}</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a
                  id="sign-up-link"
                  class="nav-link"
                  href="{% url 'user-register' %}"
                  >{% translate "Sign Up" %}</a
                >
              </li>
              <li class="nav-item">
                <a
                  id="log-in-link"
                  class="nav-link"
                  href="{% url 'user-login' %}"
                  >{% translate "Sign In" %}</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% block main %} {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %} {% endblock main %}
    </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %} {% endblock modal %} {% block inline_javascript %}
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        // Custom inline JavaScript
      });
    </script>
    {% endblock inline_javascript %}
  </body>
</html>
{% endraw %}
